@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shopping-bag:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e900";
}
.icon-angle-down:before {
  content: "\e901";
}
.icon-angle-up:before {
  content: "\e902";
}
.center {
  margin-right: auto;
  margin-left: auto;
}
.font-style {
  color: #fff;
  font-weight: 700;
}
body {
  color: #252c26;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  margin: 0;
}
.main {
  /*max-width: 1280px;*/
  min-width: 768px;
  margin: 0 auto;
}
.top {
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  font-size: 14px;
  display: block;
  height: 48px;
  padding-top: 9px;
  background-color: #2d2b31;
  text-align: center;
}
.top-information {
  font-size: 14px;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.4;
  padding-top: 5px;
  padding-left: 5px;
  background: rgba(169, 176, 137);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.information {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.4;
  padding-top: 5px;
  padding-left: 5px;
  background: rgba(169, 176, 137);
  color: #fff;
  height: 100px;
  display: flex;
}
img,
object,
video,
embed {
  height: auto;
  max-width: 100%;
}
.top-title-2 {
  font-size: 10px;
  text-transform: capitalize;
}
.phone-icon {
  display: block;
  float: left;
  padding-left: 5px;
}
.phone-block {
  display: block;
  float: left;
}
.phone span a {
  float: left;
  padding-left: 5px;
  color: #252c26;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.4;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
.logo {
  margin-right: auto;
  margin-left: auto;
  display: block;
  transform: scale(1.5);
  position: relative;
  top: 15px;
}
.search {
  position: relative;
  float: right;
  padding-right: 15px;
}
.search button::before {
  font-family: 'icomoon';
  font-size: 12px;
}
.search button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 10px;
}
.search form {
  position: relative;
  color: #252c26;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.4;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}
.search form input {
  width: 200px;
  height: 30px;
  padding-right: 20px;
  padding-left: 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  border: none;
  outline: none;
  right: 10px;
}
.search form input input::placeholder {
  color: #000;
}
.cart {
  position: relative;
}
.cart::before {
  content: url(../images/tis-icon-shoppingbag.svg);
  position: relative;
  left: 5px;
  top: 5px;
  transform: translateY(-50%);
}
.header {
  display: flex;
  flex-direction: column;
}
.header-button {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  float: left;
}
.header-button:hover,
.header-button:focus {
  background-color: transparent;
}
.header-menu {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  background-color: #e0e1dd;
  color: #fff;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu ul li {
  display: inline-block;
}
.header-menu ul li + li {
  margin-left: 30px;
}
.delivery-information {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.delivery-information a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.delivery-information img {
  padding-left: 5px;
  padding-right: 1px;
  position: relative;
}
.div-information {
  display: flex;
  justify-content: space-between;
}
/**Drop button menu**/
.dropdown-content {
  text-transform: uppercase;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
  left: -15px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ddd;
  font-weight: 700;
}
.dropdown-content a:hover {
  background-color: #fff;
}
.show {
  display: block;
}
/**Drop button menu**/
.account-information {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
}
.icon-down button::before {
  font-family: 'icomoon';
  font-size: 12px;
}
.usd-information {
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
}
.account-information:hover {
  display: flex;
}
.usd-information:hover {
  display: flex;
}
.usd-information ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
}
.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252c26;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  font-size: 10px;
}
.static-block {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  max-width: 1280px;
  box-sizing: border-box;
  height: 350px;
  position: relative;
}
.hero-image {
  background-image: url("../images/hero-image.webp");
  height: 350px;
  background-size: cover;
  position: relative;
  background-position: center;
}
.day-container {
  background-image: url("../images/hero-image.webp");
  background-size: cover;
  position: relative;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  max-height: 450px;
  min-width: 1250px;
  margin-right: auto;
  margin-left: auto;
}
.day-percent {
  color: #fff;
  font-size: 46px;
  line-height: 70px;
  font-weight: 700;
  text-shadow: 0 0 60px #000000, 0 0 20px #000000;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  align-self: center;
}
.cyber-monday {
  padding-top: 15px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 35px;
  line-height: 0;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000;
  font-family: Times, serif;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  align-self: center;
}
.free-text {
  padding-top: 5px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: Times, serif;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  align-self: center;
  line-height: 20px;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000;
}
.free-text span {
  font-weight: bold;
  color: #f1c761;
}
.button-day-sale {
  margin-top: 15px;
  padding: 8px 20px;
  background-color: #fff;
  color: #252c26;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 80px;
  align-self: center;
  border: 0;
  line-height: inherit;
  cursor: pointer;
  border-radius: 0;
}
.button-day-sale a {
  background-color: #ddd;
  transition: background-color 0.4s ease;
}
.button-day-sale a:hover {
  background-color: #ddd;
  transition: background-color 0.4s ease;
}
.leap-banner-day {
  background-color: #2e2b32;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: #eaeaea;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: -20px;
}
/**Menu dropdown**/
.menu-navigation {
  background-color: #e0e1dd;
  width: 100%;
}
.menu-navigation-inner {
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}
.menu-navigation-inner ul li {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 10px;
  position: relative;
}
.menu-navigation-inner ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.menu-navigation-inner ul li:hover:before {
  content: '';
  height: 5px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
}
.menu-navigation-inner ul li:hover .menu-navigation-dropdown {
  display: flex;
}
.menu-navigation-inner ul li:hover .menu-navigation-dropdown-box {
  display: flex;
}
.menu-navigation-inner ul li:hover .menu-navigation-dropdown-big {
  display: flex;
}
.menu-navigation-inner ul li + li {
  margin-left: 30px;
}
.menu-navigation-dropdown-box {
  position: absolute;
  top: 45px;
  display: none;
}
.menu-navigation-dropdown-big,
.menu-navigation-dropdown {
  display: none;
  flex-direction: column;
  border: none;
  box-shadow: none;
  padding: 15px 15px 15px 15px !important;
  min-width: 160px;
  border-top: 1px solid #252c26;
  z-index: 5;
  text-align: left;
  background: #e0e1dd;
  overflow: visible;
}
.menu-navigation-dropdown-big li + li,
.menu-navigation-dropdown li + li {
  margin: unset !important;
}
.menu-navigation-dropdown-big li,
.menu-navigation-dropdown li {
  padding: unset !important;
}
.menu-navigation-dropdown-big li:hover::before,
.menu-navigation-dropdown li:hover::before {
  width: unset !important;
  height: unset !important;
}
.menu-navigation-dropdown-big li span,
.menu-navigation-dropdown li span {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
}
.menu-navigation-dropdown-big li a,
.menu-navigation-dropdown li a {
  display: block;
  line-height: inherit;
  color: #252c26;
  padding: 8px 8px;
  transition: all 0.2s;
  text-transform: unset !important;
  font-size: 14px !important;
}
.menu-navigation-dropdown-big li a:hover,
.menu-navigation-dropdown li a:hover {
  background-color: #fff;
}
.menu-navigation-dropdown {
  top: 45px;
  position: absolute;
}
/**Menu dropdown**/
/**Menu features**/
.features {
  padding: 20px 0 10px;
}
.features-inner {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 10px 0;
}
.features-item {
  display: flex;
  padding: 10px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  align-self: center;
}
.features-item-images {
  padding-right: 10px;
}
.features-item-content-title {
  font-weight: 700;
}
.features-item-content-text {
  font-size: 14px;
}
/**Menu features**/
/**Static block**/
.categories-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding: 10px;
}
.categories-inner .categories-item {
  display: flex;
  flex: 1 1 auto;
  margin: 5px 5px;
  width: 390px;
  min-width: 280px;
  max-height: 480px;
  position: relative;
}
.categories-inner .categories-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.categories-inner .categories-item-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.categories-inner .categories-item-content button {
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.categories-inner .categories-item .overlay {
  box-shadow: none;
  background: rgba(116, 118, 120, 0.5);
  color: #fff;
  border: 1px solid #e0e1dd;
  padding: 11px 20px;
}
/**Static block**/
/**Ship block**/
.ship-container {
  margin-bottom: 20px;
}
.ship-container-inner {
  padding: 25px 20px;
  background-image: url("../images/maps.png");
  background-position: 50% 50%;
  background-size: 620px;
  align-items: center;
}
.ship-container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ship-header-text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #202020;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.ship-sub-text {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
/**Ship block**/
/**Banner exclusive**/
.banner-exclusive-inner {
  background-image: url("../images/ex_collection_2020.webp");
  background-size: cover;
  cursor: pointer;
  align-items: center;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}
.banner-exclusive-text {
  position: static;
  width: 300px;
  margin-right: 13%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}
.banner-exclusive-heading {
  margin-bottom: 5px;
  color: #fff;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 9px #000;
}
.banner-exclusive-sub {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 9px #000;
}
.banner-exclusive-button {
  margin-top: 15px;
  padding: 8px 35px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  border: 0;
  line-height: inherit;
  border-radius: 0;
  transition: all 0.3s;
}
.banner-exclusive-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  text-decoration: none;
}
/**Banner exclusive**/
/**Features second**/
.features-second-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.features-second-inner .features-second-item {
  flex: 1 1 auto;
  margin: 20px 5px 0;
  width: 49%;
  min-width: 300px;
}
.features-second-inner .features-second-item-images {
  width: 100%;
  height: 278px;
}
.features-second-inner .features-second-item-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.features-second-inner .features-second-item-content {
  padding-top: 20px;
  text-align: center;
}
.features-second-inner .features-second-item-content h3 {
  margin-bottom: 20px;
  line-height: 1.1;
  font-size: 24px;
  letter-spacing: 0.75px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.features-second-inner .features-second-item-content a {
  color: #252c26;
  text-decoration: none;
}
.features-second-inner .features-second-item-content a button {
  box-shadow: none;
  background: #fff;
  border: 1px solid #252c26;
  color: #252c26;
  padding: 11px 20px;
  transition: all 0.3s;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 15px;
}
.features-second-inner .features-second-item-content a button:hover {
  border: 1px solid rgba(37, 44, 38, 0.5);
  color: rgba(37, 44, 38, 0.5);
}
/**Features second**/
/**Product slider**/
.slider {
  padding: 20px 10px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
}
.slider-title {
  display: flex;
  border-bottom: 1px solid #c9cac8;
  margin-bottom: 40px;
  justify-content: center;
  justify-items: center;
  background: #fff;
  height: 18px;
}
.slider-title span {
  background-color: #fff;
  padding: 0 20px;
  line-height: 0;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.slider-title h4 {
  background: #fff;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 10px;
}
.slider-wrapper {
  display: flex;
  transition: transform 0.6s ease;
}
.slider-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  transition: all 0.3s;
  padding: 10px;
}
.slider-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.slider-item-images {
  min-height: 207px;
  height: 207px;
  width: 207px;
  display: flex;
}
.slider-item-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.slider-item-title {
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-item-price {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.slider-item-price-was span {
  text-decoration: line-through;
}
.slider-item-price-now {
  color: #9a1a28;
}
.slider-control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}
.slider-control-show {
  display: flex;
}
.slider-control:hover,
.slider-control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.slider-control-left {
  left: 0;
}
.slider-control-right {
  right: 0;
}
.slider-control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider-control-left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider-control-right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/**Product slider**/
/**Video presentation**/
.video-content {
  display: flex;
  justify-content: space-around;
}
.video-content .video {
  position: relative;
}
.video-content .video-bg {
  width: 95%;
  border: 5px solid #a9b089;
  display: block;
}
.video-content i {
  position: absolute;
  top: 25%;
  left: 43%;
  font-size: 80px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}
.video-description {
  max-width: 595px;
}
.video-description .description-title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0;
}
.video-description .description-text {
  font-size: 14px;
  text-align: center;
}
.video-description .video_btn {
  border: 1px solid #2d2b31;
  width: 30%;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
  padding: 15px;
}
.video-description .video_btn:hover {
  border-color: #c6c7c4;
}
.video-description .video_btn:hover a {
  color: #c6c7c4;
}
/**Video presentation**/
/*# sourceMappingURL=style.css.map */